<p id="notice"><%= notice %></p>

<h1>Free Code Camps</h1>

<table>
  <thead>
    <tr>
      <th>Cerificate name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @free_code_camps.each do |free_code_camp| %>
      <tr>
        <td><%= free_code_camp.cerificate_name %></td>
        <td><%= free_code_camp.url %></td>
        <td><%= link_to 'Show', free_code_camp %></td>
        <td><%= link_to 'Edit', edit_free_code_camp_path(free_code_camp) %></td>
        <td><%= link_to 'Destroy', free_code_camp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Free Code Camp', new_free_code_camp_path %>
