<section class="free_code_camps">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <h1>Free Code Camps</h1>

    <table>
      <thead>
        <tr>
          <th>Cerificate name</th>
          <th>Url</th>
          <th>Skill</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @free_code_camps.each do |free_code_camp| %>
          <tr>
            <td><%= free_code_camp.cerificate_name %></td>
            <td><%= free_code_camp.url %></td>
            <td><% for skill in free_code_camp.skills %>
                <%= link_to skill.name, edit_skill_path(skill.id) %> <br>
            <% end %></td>
            <td><%= link_to 'Edit', edit_free_code_camp_path(free_code_camp) %></td>
            <td>
              <% if is_admin(current_user) %>
                <%= link_to 'Destroy', free_code_camp, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <a onClick="alert('You are not an admin!')">Destroy</a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Free Code Camp', new_free_code_camp_path %>
  </div>
</section>