

<header class="row">
    <div class="column large-12">
        <h3 class="section-header-allcaps">Projects</h3>
    </div>
</header>

<div class="row collapse block-large-1-4 block-medium-1-3 block-tab-1-2 block-500-stack projects-list">
    <% projects.each do |project| %>
        <div class="column project-item" style="--content: '<%= project.name %>'">
            <%= link_to "#modal-#{project.id}", class:"thumb", title: "View #{project.name}" do %>
                <% if project.project_logo.attached? %>
                    <%= image_tag project.project_logo %>
                <% else %>
                    <%= project.name %>
                <% end %>
            <% end %>
            
        </div>
        <div>
            <% if current_user %>
                <% if project.hidden %>
                    <i class="fal fa-eye-slash fa-xs" aria-hidden="true"></i>
                <% else %>
                    <i class="fal fa-eye fa-xs" aria-hidden="true"></i>
                <% end %>
                <%= link_to edit_project_path(project), title: "Edit" do %>
                    <i class="fas fa-pen fa-xs" aria-hidden="true"></i>
                <% end %>
                <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                    <i class="fas fa-times-circle fa-xs" style="color:red"></i>
                <% end %>
            <% end %>
        </div>
        <div id="modal-<%= project.id %>" hidden>
            <div class="modal-popup">
                <div class="row img">
                    <% if project.cover_image.attached? %>
                        <%= image_tag project.cover_image %>
                    <% end %>
                    <% if project.logo.attached? %>
                        <%= image_tag project.logo, class: "logo", title: "Logo" %>
                    <% end %>
                    <% if project.main_tech.attached? %>
                        <%= image_tag project.main_tech, class: "main-tech", title: "Main technology" %>
                    <% end %>
                </div>
                <div class="row"><h5><%= project.name %></h5></div>
                <div class="row desc">
                    <%= project.description %>
                </div>
                <div class="row">
                    <ul class="tag">
                        <% for tag in project.tags %>
                            <li><%= tag.name %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="links">
                    <div class="row">
                        <div class="column large-6">
                            <%= link_to 'Go to the website', project.url, target: :_blank, title: "View Live" %>
                        </div>
                        <div class="column large-6">
                            <% if project.github_url? %>
                                <%= link_to project.github_url, target: :_blank, title: "View on GitHub" do %>
                                    <i class="fab fa-github" aria-hidden="true"></i>
                                <% end %>
                            <% end %>
                            <% if project.docker_url? %>
                                <%= link_to project.docker_url, target: :_blank, title: "View on DockerHub " do %>
                                    <i class="fab fa-docker" aria-hidden="true"></i>
                                <% end %>
                            <% end %>
                        </div>

                    </div>
                </div>
                
                
            </div>
        </div>
    <% end %>
    <% if current_user %>
        <%= link_to new_project_path, title: "Add new" do %><i class="fas fa-plus fa-lg" ></i><% end %>
    <% end %>
</div>