<%= form_with(model: social_icon) do |form| %>
  <% if social_icon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(social_icon.errors.count, "error") %> prohibited this social_icon from being saved:</h2>

      <ul>
        <% social_icon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "h-full-width" %>
  </div>
  <div class="field">
    <%= form.label :icon do %>
      Icon from <a href="https://fontawesome.com/v5.0/icons" target="_blank">Font Awesome</a>
    <% end %>
    
    <%= form.text_field :icon, class: "h-full-width" %>
  </div>
  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, class: "h-full-width" %>
  </div>
  <div class="field">
    <%= form.label :order_id %>
    <%= form.number_field :order_id, class: "h-full-width" %>
  </div>
  <%= form.file_field :show_on_cv %>
  <div class="field">
    <%= form.label :show_on_cv %>
    <%= form.check_box :show_on_cv %>
  </div>
  <div class="actions">
    <%= form.submit  class: "btn btn--submit h-full-width", disabled: !is_admin(current_user) %>
  </div>
<% end %>