<p id="notice"><%= notice %></p>

<h1>Social Icons</h1>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_icons.each do |social_icon| %>
      <tr>
        <td><i class='<%= social_icon.icon %>'></td>
        <td><%= social_icon.link %></td>
        <td><%= link_to social_icon do %><i class="fas fa-eye" style="color:blue"></i><% end %></td>
        <td><%= link_to edit_social_icon_path(social_icon) do %><i class="fas fa-pen" style="color:green"></i><% end %></td>
        
        <td><%= link_to social_icon, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-times-circle" style="color:red"></i> <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social Icon', new_social_icon_path %>
