<p id="notice"><%= notice %></p>

<p>
  <strong>Icon:</strong>
  <%= @social_icon.icon %>
</p>

<p>
  <strong>Link:</strong>
  <%= @social_icon.link %>
</p>

<%= link_to 'Edit', edit_social_icon_path(@social_icon) %> |
<%= link_to 'Back', social_icons_path %>
