<%= form_with(model: hacker_rank) do |form| %>
  <% if hacker_rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hacker_rank.errors.count, "error") %> prohibited this hacker_rank from being saved:</h2>

      <ul>
        <% hacker_rank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cerificate_name %>
    <%= form.text_field :cerificate_name, class: "h-full-width" %>
  </div>

  <div class="field">
    <%= form.label :is_badge %>
    <%= form.check_box :is_badge %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, class: "h-full-width" %>
  </div>
  <div class="field">
    <%= form.label "Badge or Certificate" %>
    <% if hacker_rank.badgeorcertificate.attached? %>
      <%= image_tag hacker_rank.badgeorcertificate.variant(resize_to_limit: local_assigns.fetch(:badgeorcertificate_options, [200, 200])) %>
    <% end %>
    <%= form.file_field :badgeorcertificate %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes(:skill_ids, Skill.all, :id, :name) do |b| %>
      <% b.label {b.check_box + b.text} %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= form.submit class: "btn btn--submit h-full-width" %>
  </div>
<% end %>
