<p id="notice"><%= notice %></p>

<p>
  <strong>Cerificate name:</strong>
  <%= @hacker_rank.cerificate_name %>
</p>

<p>
  <strong>Badge name:</strong>
  <%= @hacker_rank.badge_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @hacker_rank.url %>
</p>

<%= link_to 'Edit', edit_hacker_rank_path(@hacker_rank) %> |
<%= link_to 'Back', hacker_ranks_path %>
