<%= form_with(model: skill) do |form| %>
  <% if skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
        <% skill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "h-full-width" %>
  </div>
  <div class="field">
    <%= form.label :logo %>
    <% if skill.logo.attached? %>
        <%= image_tag skill.logo.variant(resize_to_limit: local_assigns.fetch(:logo_options, [200, 200])) %>
    <% end %>
    <%= form.file_field :logo %>
    <hr>
  </div>
  <div class="field">
    <%= form.label :order_id %>
    <%= form.number_field :order_id, class: "h-full-width" %>
  </div>
  <div class="field">
    <h3>Add Linkedin</h3>
    <%= form.collection_check_boxes(:linkedin_ids, Linkedin.all, :id, :badge_name) do |b| %>
      <% b.label {b.check_box + b.text } %>
    <% end %>
    <div class="links">
        <%= link_to_add_association "Add Linkedin", form, :linkedins %>
    </div>
  </div>
  <%= link_to "View Linkedins", linkedins_path %>
  <hr>
  <div class="field">
    <h3>Add FreeCodeCamp</h3>
    <%= form.collection_check_boxes(:free_code_camp_ids, FreeCodeCamp.all, :id, :cerificate_name) do |b| %>
      <% b.label {b.check_box + b.text } %>
    <% end %>
    <div class="links">
        <%= link_to_add_association "Add FreeCodeCamp", form, :free_code_camps %>
    </div>
  </div>
  <%= link_to "View FreeCodeCamp", free_code_camps_path %>
  <hr>
  <div class="field">
    <h3>Add HackerRank</h3>
    <%= form.collection_check_boxes(:hacker_rank_ids, HackerRank.all, :id, :cerificate_name) do |b| %>
      <% b.label {b.check_box + b.text } %>
    <% end %>
    <div class="links">
        <%= link_to_add_association "Add HackerRank", form, :hacker_ranks %>
    </div>
  </div>
  <%= link_to "View HackerRank", hacker_ranks_path %>
  <hr>
  <div class="field">
    <h3>Add Book</h3>
    <%= form.collection_check_boxes(:book_ids, Book.all, :id, :title) do |b| %>
      <% b.label {b.check_box + b.text} %>
    <% end %>
    <div class="links">
        <%= link_to_add_association "Add Book", form, :books %>
    </div>
  </div>
  <%= link_to "View Books", books_path %>
  <hr>
  <div class="actions">
    <%= form.submit class: "btn btn--submit h-full-width" %>
  </div>
<% end %>
