<div class="nested-fields">
    <div class="field">
        <%= f.label :cerificate_name %>
        <%= f.text_field :cerificate_name %>
    </div>
    <div class="field">
        <%= f.label :url %>
        <%= f.text_field :url %>
    </div>
    <div class="field">
        <%= f.label :certificate %>
        <%= f.file_field :certificate %>
    </div>
     <%= link_to_remove_association "Remove Free Code Camp", f %>
</div>