<div class="nested-fields">
    <div class="field">
        <%= f.label :cerificate_name %>
        <%= f.text_field :cerificate_name, class: "h-full-width" %>
    </div>
    <div class="field">
        <%= f.label :url %>
        <%= f.text_field :url, class: "h-full-width" %>
    </div>
    <div class="field">
        <%= f.label :certificate, class: "h-full-width" %>
        <%= f.file_field :certificate %>
    </div>
     <%= link_to_remove_association "Remove Free Code Camp", f %>
</div>