
<header class="row">
    <div class="column large-12">
        <h3 class="section-header-allcaps">Skills</h3>
    </div>
</header>

<main class="row collapse block-large-1-5 block-medium-1-4 block-tab-1-2"><% @badge=true %>
    <% @skills.each do |skill| %>
        <div class="column">
            <div class="skill">
                <div class="row">
                    <div class="thumb">
                        <% if skill.logo.attached? %>
                            <%= image_tag skill.logo, title: skill.name %>
                        <% end %>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="column skill-item">  
                        <% if skill.books.count()>0 %>              
                            <%= link_to "#modal-#{skill.id}-books", title: "View what books I've read" do %>
                                <i class="fas fa-book"></i>
                            <% end %>   
                        <% else %> 
                            <i class="fas fa-book deactivated"></i>
                        <% end %>
                    </div>  
                    <div class="column collapse skill-item">
                        <% if skill.linkedins.count()>0 %>
                            <%= link_to "#modal-#{skill.id}-linkedins", title: "View what LinkedIn badges I have" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %> 
                            <% else %>    
                                <i class="fab fa-linkedin-in deactivated"></i>      
                        <% end %>
                    </div>  
                    <div class="column collapse skill-item">
                        <% if skill.hacker_ranks.count()>0 %>
                            <%= link_to "#modal-#{skill.id}-hacker_ranks", title: "View what HackerRank badges and certificates I have" do %>
                                <i class="fab fa-hackerrank"></i>
                            <% end %> 
                            <% else %>      
                                <i class="fab fa-hackerrank deactivated"></i>    
                        <% end %>
                    </div>  
                    <div class="column collapse skill-item">
                        <% if skill.free_code_camps.count()>0 %>
                            <%= link_to "#modal-#{skill.id}-free_code_camps", title: "View what certificates I have" do %>
                                <i class="far fa-file-certificate"></i>
                            <% end %>  
                            <% else %>         
                                <i class="far fa-file-certificate deactivated"></i>
                        <% end %>
                    </div> 
                </div>
            </div> 
            <div id="modal-<%= skill.id %>-books" hidden>
                <div class="modal-popup-skills-b">
                    <div class="row"><h3 class="align-center">Books I've read</h3></div>
                    <%= render skill.books.with_attached_cover %>
                </div>
            </div>
            <div id="modal-<%= skill.id %>-linkedins" hidden>
                <div class="row modal-title-skills-li"><h3 class="align-center">Badges on Linkedin</h3></div>
                <div class="row collapse block-large-1-2 block-500-stack modal-popup-skills-li">
                    <%= render skill.linkedins.with_attached_badge %>
                </div>
            </div>
            <div id="modal-<%= skill.id %>-hacker_ranks" hidden>
                <% if skill.hacker_ranks.count{ |hacker_rank| hacker_rank.is_badge? } > 0 %>
                    <div class="row modal-popup-skills-hr">
                        <div class="column large-12"><h3><i class="far fa-id-badge"></i> Badges on HackerRank</h3></div>
                <% else %>
                    <div>
                <% end %>
                    <% @badge=true %>
                    <%= render skill.hacker_ranks.order("is_badge DESC") %>
                </div>
                
            </div>
            <div id="modal-<%= skill.id %>-free_code_camps" hidden>
            <div class="row modal-title-skills-fcc"><h3 class="align-center">Certificates</h3></div>
                <div class="row collapse block-large-1-2 block-500-stack modal-popup-skills-fcc">
                    <%= render skill.free_code_camps.with_attached_certificate %>
                </div>
            </div>
            <% if current_user %>
                <div class="controls">
                    <%= link_to edit_skill_path(skill), title: "Edit" do %>
                        <i class="fal fa-pen fa-xs" aria-hidden="true"></i>
                    <% end %>
                    <% if is_admin(current_user) %>
                        <%= link_to skill, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                            <i class="fal fa-trash-alt fa-xs red"></i>
                        <% end %>
                    <% else %>
                        <a onClick="alert('You are not an admin!')" title="Delete"><i class="fal fa-trash-alt fa-xs red"></i></a>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
    <div class="row h-add-half-top">
        <% if current_user %>
            <%= link_to new_skill_path, title: "Add new" do %><i class="fal fa-plus-circle fa-lg" ></i><% end %>
        <% end %>
    </div>
</main>

<footer class="row"></footer>
