
<header class="row">
    <div class="column large-12">
        <h3 class="section-header-allcaps">Skills</h3>
    </div>
</header>

<main class="row collapse block-large-1-6 block-medium-1-4 block-tab-1-2 block-500-stack"><% @badge=true %>
    <% @skills.each do |skill| %>
        <div class="column">
            <div class="skill">
                <div class="row">
                    <div class="thumb">
                    <% if skill.logo.attached? %>
                        <%= image_tag skill.logo, title: skill.name %>
                    <% end %></div>
                </div>
                <div class="row collapse">
                    <div class="column skill-item">  
                        <% if skill.books.count()>0 %>              
                            <%= link_to "#modal-#{skill.id}-books", title: "View what books I've read" do %>
                                <i class="fas fa-book"></i>
                            <% end %>   
                        <% else %> 
                            <i class="fas fa-book deactivated"></i>
                        <% end %>
                    </div>  
                    <div class="column collapse skill-item">
                        <% if skill.linkedins.count()>0 %>
                            <%= link_to "#modal-#{skill.id}-linkedins", title: "View what LinkedIn badges I have" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %> 
                            <% else %>    
                                <i class="fab fa-linkedin-in deactivated"></i>      
                        <% end %>
                    </div>  
                    <div class="column collapse skill-item">
                        <% if skill.hacker_ranks.count()>0 %>
                            <%= link_to "#modal-#{skill.id}-hacker_ranks", title: "View what HackerRank badges and certificates I have" do %>
                                <i class="fab fa-hackerrank"></i>
                            <% end %> 
                            <% else %>      
                                <i class="fab fa-hackerrank deactivated"></i>    
                        <% end %>
                    </div>  
                    <div class="column collapse skill-item">
                        <% if skill.free_code_camps.count()>0 %>
                            <%= link_to "#modal-#{skill.id}-free_code_camps", title: "View what FreeCodeCamp certificates I have" do %>
                                <i class="fab fa-free-code-camp"></i>
                            <% end %>  
                            <% else %>         
                                <i class="fab fa-free-code-camp deactivated"></i>
                        <% end %>
                    </div> 
                </div>
            </div> 
            <div id="modal-<%= skill.id %>-books" hidden>
                <div class="modal-popup-skills-b">
                    <%= render skill.books %></div>
                </div>
            <div id="modal-<%= skill.id %>-linkedins" hidden>
                <div class="row collapse block-large-1-2 block-500-stack modal-popup-skills-li">
                    <%= render skill.linkedins %>
                    <a href="https://www.linkedin.com/in/alexrogna/" class="btn btn--primary btn--small h-pull-right" target="_blank">View on Linkedin</a>
                </div>
            </div>
            <div id="modal-<%= skill.id %>-hacker_ranks" hidden>
                <div class="row modal-popup-skills-hr">
                    <div class="column large-12"><h3><i class="far fa-file"></i> Verified Skills</h3></div>
                    
                    <%= render skill.hacker_ranks.order("is_badge ASC") %>
                    <a href="https://www.hackerrank.com/vlad_rogna?hr_r=1" class="btn btn--primary btn--small h-pull-right" target="_blank">View on HackerRank</a>
                </div>
                
            </div>
            <div id="modal-<%= skill.id %>-free_code_camps" hidden>
                <div class="row collapse block-large-1-2 block-500-stack modal-popup-skills-fcc">
                    <%= render skill.free_code_camps %>
                </div>
            </div>
            <% if current_user %>
                <%= link_to edit_skill_path(skill), title: "Edit" do %>
                    <i class="fas fa-pen fa-xs" aria-hidden="true"></i>
                <% end %>
                <%= link_to skill, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                    <i class="fas fa-times-circle fa-xs" style="color:red"></i>
                <% end %>
            <% end %>
        </div>
    <% end %>
    <div class="row">
        <% if current_user %>
            <%= link_to new_skill_path, title: "Add new" do %><i class="fas fa-plus fa-lg" ></i><% end %>
        <% end %>
    </div>
</main>

<footer class="row"></footer>
