<%= form_with(model: tech) do |form| %>
  <% if tech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tech.errors.count, "error") %> prohibited this tech from being saved:</h2>

      <ul>
        <% tech.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.number_field :order_id %>
  </div>
  <div class="field">
    <%= form.label "Related to" %>
    <%= form.collection_check_boxes(:skill_ids, Skill.all.order('name ASC'), :id, :name) do |b| %>
      <% b.label {b.check_box + b.text } %>
    <% end %>
  </div>
  <%= form.label :logo %>
  <% if tech.logo.attached? %>
    <%= image_tag tech.logo.variant(resize_to_limit: local_assigns.fetch(:logo_options, [200, 200])) %>
  <% end %>
  <%= form.file_field :logo %>
  <div class="actions">
    <%= form.submit disabled: !is_admin(current_user) %>
  </div>
<% end %>
