<section class="techs-form">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <h1>Teches</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Order</th>
          <th>Logo</th>
          <th>Skill</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @teches.each do |tech| %>
          <tr>
            <td><%= tech.name %></td>
            <td><%= tech.order_id %></td>
            <td><% if tech.logo.attached? %>
                <%= image_tag tech.logo.variant(resize_to_limit: local_assigns.fetch(:logo_options, [200, 200])) %>
            <% end %></td>
            <td><% for skill in tech.skills %>
                <%= link_to skill.name, edit_skill_path(skill.id) %> <br>
            <% end %></td>
            <td><%= link_to 'Edit', edit_tech_path(tech) %></td>
            <td><%= link_to 'Destroy', tech, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Tech', new_tech_path %>
  </div>
</section>