<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tech.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @tech.order_id %>
</p>
<% if @tech.logo.attached? %>
  <%= image_tag @tech.logo.variant(resize_to_limit: local_assigns.fetch(:logo_options, [200, 200])) %>
<% end %>
        
<%= link_to 'Edit', edit_tech_path(@tech) %> |
<%= link_to 'Back', teches_path %>
