<%= form_with(model: contact_form, id: 'email_me') do |form| %>
  <% if contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
        <% contact_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="flash-message">
    <%= render 'home/flash' %>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "h-full-width", placeholder: "Your name" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "h-full-width", placeholder: "Your email address"%>
  </div>
  <div class="field">
    <%= form.hidden_field :confirm_email, class: "h-full-width", placeholder: "Confirm your email address"%>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, class: "h-full-width", placeholder: "Subject" %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, class: "h-full-width", placeholder: "Your message" %>
  </div>
  <div class="field" >
    <%= recaptcha_tags id: 'contact_captcha' %>
  </div>
  
  <div class="actions">
    <%= form.submit 'Send', class:"btn btn--stroke h-full-width" %>
  </div>
  
<% end %>
