<%= form_with(model: contact_form, id: 'email_me') do |form| %>
  <% if contact_form.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% contact_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "h-full-width", placeholder: "Your name", required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, class: "h-full-width", placeholder: "Your email address", required: true %>
  </div>
  <div class="field">
    <%= form.label :confirm_email, 'Confirm email', style: "display:none !important"%>
    <%= form.text_field :confirm_email, class: "h-full-width", placeholder: "Confirm your email address", style: "display:none !important", tabindex: "-1", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, class: "h-full-width", placeholder: "Subject", required: true %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, class: "h-full-width", placeholder: "Your message", required: true %>
  </div>
  <div class="field" >
    <%= flash[:recaptcha_error] %>
    <%= recaptcha_tags id: 'contact_captcha', theme: 'dark' %>
  </div>
  
  <div class="actions">
    <% if controller_path =="home" %>
      <%= form.submit 'Send', class:"btn btn--stroke h-full-width" %>
    <% else %>
      <%= form.submit 'Send', class:"btn btn--stroke h-full-width", disabled: !is_admin(current_user) %>
    <% end %>
  </div>
  
<% end %>
