<%= form_with(model: education) do |form| %>
  <% if education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
        <% education.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :school %>
    <%= form.text_field :school, class: "h-full-width" %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, class: "h-full-width" %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, start_year: 2000, end_year: Date.today.year %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, start_year: 2000, end_year: Date.today.year %>
  </div>

  <div class="field">
    <%= form.label :specialization %>
    <%= form.text_area :specialization, class: "h-full-width" %>
  </div>
  <div class="field">
    <%= form.label :courses %>
    <%= form.rich_text_area :courses, class: "h-full-width" %>
  </div>
  <h3>Add Techs</h3>
  <%= form.collection_check_boxes(:tech_ids, Tech.all, :id, :name) do |b| %>
    <% b.label {b.check_box + b.text } %>
  <% end %>
  <div class="links">
      <%= link_to_add_association "Add Tech", form, :teches %>
  </div>
  <%= link_to "Remove Techs", teches_path %>

  <div class="actions">
    <%= form.submit class: "btn btn--submit h-full-width" %>
  </div>
<% end %>
