<div class="row s-resume__section">
  <div class="column large-12 tab-12">
    <div class="row s-portfolio__header">
        <div class="column large-12">
            <h3>Education</h3>
        </div>
    </div>
    <% @educations.each do |education| %>
       <div class="resume-block">

          <div class="resume-block__header">
            <h4 class="h3"><%= education.school %></h4>
            <p class="resume-block__header-meta">
                <span><%= education.location %></span> 
                <span class="resume-block__header-date">
                    <%= education.start_date %> - <%= education.end_date %>
                </span>
            </p>
          </div>
          <p>
            <%= education.specialization %>
          </p>
          <p>
          <% for tech in education.teches.order('order_id ASC') %>
              <% if tech.logo.attached? %>
                <%= image_tag tech.logo.variant(resize_to_limit: local_assigns.fetch(:logo_options, [200, 200])) %>
              <% end %>
              <%= tech.name %>
              <%= tech.order_id %>
          <% end %>
          </p>
          <p><%= link_to 'Edit', edit_education_path(education) %></p>
          <p><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div> 
    <% end %> 
        

<%= link_to 'New Education', new_education_path %>
