<%= form_with(model: @email_a_friend, url: notify_friend_settings_user_path, id: 'email_a_friend') do |form| %>
    <% if @email_a_friend.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@email_a_friend.errors.count, "error") %> prohibited this form being submitted:</h2>
            <ul>
                <% @email_a_friend.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= form.label :name, 'Your name' %>
        <%= form.text_field :name, class: "h-full-width", placeholder: "Your name", required: true %>
    </div>
    <div class="field">
        <%= form.label :yemail, 'Your email', style: "display:none !important"%>
        <%= form.text_field :yemail, class: "h-full-width", placeholder: "Your email address", style: "display:none !important", tabindex: "-1", autocomplete: "off" %>
    </div>
    <div class="field">
        <%= form.label :email, "Your friend's email" %>
        <%= form.email_field :email, class: "h-full-width", placeholder: "Your friend's email", required: true %>
    </div>

    <div class="field" >
        <%= recaptcha_tags id: 'notify_friend_captcha', theme: 'dark'  %>
    </div>
    <div class="actions row collapse block-large-1-2 block-mob-full">
    <div class="column align-center"><%= form.submit 'Send', class:"btn btn--about h-full-width" %></div>
    <div class="column align-center"><%= link_to 'Cancel', '#' , onclick:"document.querySelector('#notify_friend').style.display='none';return false;", class:"btn btn--about h-full-width" %></div>
         
        
    </div>
<% end %>