<section class="settings">
  <div class="row">
    <div class="column large-12 tab-8 mob-12 align-center">
        <h1>Settings</h1>

        <%= form_with model: User.first,
                url: settings_user_path,
                method: :patch do |f| %>
            <%= f.label :salute, id: :salute %>
            <%= f.text_field :salute, class: "h-full-width" %>
            <%= f.label :short_description, id: :short_description %>
            <%= f.text_area :short_description, class: "h-full-width" %>
            <%= f.label :long_description_wysiwyg, id: :long_description_wysiwyg %>
            <%= f.rich_text_area :long_description_wysiwyg, class: "h-full-width" %>
            <%= f.label :extra_description_for_pdf, id: :extra_description_for_pdf %>
            <%= f.rich_text_area :extra_description_for_pdf, class: "h-full-width" %>
            <%= f.label :name, id: :name %>
            <%= f.text_field :name, class: "h-full-width" %>
            <%= f.label :street_number, id: :street_number %>
            <%= f.text_field :street_number, class: "h-full-width" %>
            <%= f.label :street_name, id: :street_name %>
            <%= f.text_field :street_name, class: "h-full-width" %>
            <%= f.label :city, id: :city %>
            <%= f.text_field :city, class: "h-full-width" %>
            <%= f.label :post_code, id: :post_code %>
            <%= f.text_field :post_code, class: "h-full-width" %>
            <%= f.label :phone, id: :phone %>
            <%= f.text_field :phone, class: "h-full-width" %>
            <%= f.label :email, id: :email %>
            <%= f.text_field :email, class: "h-full-width" %>
            <div class="cover_image">
                <%= f.label :cover_image, id: :cover_image %>
                <% if User.first.cover_image.attached? %>
                    <%= image_tag User.first.cover_image.variant(resize_to_limit: local_assigns.fetch(:cover_image_options, [400, 400])) %>
                <% end %>
                <%= f.file_field :cover_image %>
            </div>
            <hr>
            <div class="profile_picture">
                <%= f.label :profile_image, id: :profile_image %>
                <% if User.first.profile_image.attached? %>
                    <%= image_tag User.first.profile_image.variant(resize_to_limit: local_assigns.fetch(:profile_image_options, [200, 200])) %>
                <% end %>
                
                <%= f.file_field :profile_image %>
            </div>
            <hr>
            <div class="actions">
                <%= f.submit "Update", class: "btn btn--submit h-full-width", disabled: !is_admin(current_user) %>
                <%= link_to 'Back', root_path %>
            </div>
            <% end %>
        </div>
  </div>
</section>