<%= form_with(model: linkedin) do |form| %>
  <% if linkedin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(linkedin.errors.count, "error") %> prohibited this linkedin from being saved:</h2>

      <ul>
        <% linkedin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :badge_name %>
    <%= form.text_field :badge_name, class: "h-full-width" %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, class: "h-full-width" %>
  </div>
  
  <div class="field">
    <%= form.label :badge %>
    <% if linkedin.badge.attached? %>
      <%= image_tag linkedin.badge.variant(resize_to_limit: local_assigns.fetch(:badge_options, [200, 200])) %>
    <% end %>
    <%= form.file_field :badge %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes(:skill_ids, Skill.all, :id, :name) do |b| %>
      <% b.label {b.check_box + b.text} %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn--submit h-full-width", disabled: !is_admin(current_user) %>
  </div>
<% end %>
