<section class="linkedins">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <h1>Linkedins</h1>

    <table>
      <thead>
        <tr>
          <th>Badge name</th>
          <th>Skill</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @linkedins.each do |linkedin| %>
          <tr>
            <td><%= linkedin.badge_name %></td>
            <td><% for skill in linkedin.skills %>
                <%= link_to skill.name, edit_skill_path(skill.id) %> <br>
            <% end %></td>
            <td><%= link_to 'Edit', edit_linkedin_path(linkedin) %></td>
            <td>
              <% if is_admin(current_user) %>
                <%= link_to 'Destroy', linkedin, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <a onClick="alert('You are not an admin!')">Destroy</a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Linkedin', new_linkedin_path %>
  </div>
</section>