<div class="row">
    <div class="column large-3 mob-12">
        <% if book.cover.attached? %>
            <%= image_tag book.cover %>
        <% end %>
    </div>
    <div class="column large-9 mob-12">
        <h5><%= book.title %></h5>
        <% if current_user %>
            <div class="controls">
                <%= link_to edit_book_path(book), title: "Edit" do %>
                    <i class="fal fa-pen fa-xs" aria-hidden="true"></i>
                <% end %>
                <% if is_admin(current_user) %>
                    <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                        <i class="fal fa-trash-alt fa-xs red"></i>
                    <% end %>
                <% else %>
                    <a onClick="alert('You are not an admin!')" title="Delete"><i class="fal fa-trash-alt fa-xs red"></i></a>
                <% end %>
            </div>
        <% end %>
        <div>
            <% if book.subtitle != "" %>
                <%= book.subtitle %>
            <% end %>
        </div>
        <br>
        Author: <%= book.author %><br>
        Publisher: <%= book.publisher %><br>
        Date of publication: <%= book.dop %><br>
        <% if book.github_link != "" %>
            <%= link_to "View my code on GitHub", book.github_link, class: "btn btn--primary btn--small", target: :_blank %>
        <% end %>
    </div>
    
</div>

