<div class="modal-popup">
    <p><%= book.title %></p>
    <div class="modal-popup__desc">
        <p><%= book.subtitle %></p>
        <p><%= book.author%></p>
        <p><%= book.dop %></p>
        <p><%= book.publisher %></p>
    </div>
</div>