<div class="row">
    <div class="column large-3 mob-12">
        <% if book.cover.attached? %>
            <%= image_tag book.cover %>
        <% end %>
    </div>
    <div class="column large-9 mob-12">
        <h5><%= book.title %></h5>
        <% if book.subtitle != "" %>
            <%= book.subtitle %><br>
        <% end %>
        <br>
        Author: <%= book.author %><br>
        Publisher: <%= book.publisher %><br>
        Date of publication: <%= book.dop %><br>
        <% if book.resources_link != "" %>
            <%= link_to "Download resources", book.resources_link, class: " btn btn--primary btn--small" %>
        <% end %>
        <% if book.github_link != "" %>
            <%= link_to "View on GitHub", book.github_link, class: "btn btn--primary btn--small" %>
        <% end %>
    </div>
    <div>
        <% if current_user %>
            <%= link_to edit_book_path(book), title: "Edit" do %>
                <i class="fas fa-pen fa-xs" aria-hidden="true"></i>
            <% end %>
            <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                <i class="fas fa-times-circle fa-xs" style="color:red"></i>
            <% end %>
        <% end %>
    </div>
</div>

