<%= form_with(model: personal_skill) do |form| %>
  <% if personal_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_skill.errors.count, "error") %> prohibited this personal_skill from being saved:</h2>

      <ul>
        <% personal_skill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :skill %>
    <%= form.text_field :skill, class: "h-full-width" %>
  </div>

  <div class="field">
    <%= form.label :icon do %>
      Icon from <a href="https://fontawesome.com/v5.0/icons" target="_blank">Font Awesome</a>
    <% end %>
    <%= form.text_field :icon, class: "h-full-width" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "h-full-width" %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.number_field :order_id, class: "h-full-width" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn--submit h-full-width", disabled: !is_admin(current_user) %>
  </div>
<% end %>
