<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @personal_skill.skill %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @personal_skill.icon %>
</p>

<p>
  <strong>Description:</strong>
  <%= @personal_skill.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @personal_skill.order_id %>
</p>

<%= link_to 'Edit', edit_personal_skill_path(@personal_skill) %> |
<%= link_to 'Back', personal_skills_path %>
