<div class="cv">
    <div class="nobreak">
        <table class="header">
            <tr>
                <th colspan="2"><h2>Contact</h2></th>

                <th rowspan="3">
                    <h1><%= @user.name %></h1>
                    Web Designer and Programmer
                </th>

            </tr>
            <tr>
                <td>
                    <a href="tel:<%= @user.phone %>">
                        <i class="fas fa-mobile-alt"></i>
                    </a>
                </td>
                <td>
                <a href="tel:<%= @user.phone %>">
                    <%= @user.phone %>
                </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="mailto:<%= @user.email %>">
                        <i class="far fa-envelope"></i>
                    </a>
                </td>
                <td>
                    <a href="mailto:<%= @user.email %>">
                        <%= @user.email %>
                    </a>
                </td>
                
            </tr>
            <tr>
                <td>
                    <%= link_to  "https://alexrogna.com" do%>
                        <i class="fas fa-globe"></i>
                    <% end %>
                </td>
                <td>
                    <%= link_to "alexrogna.com", "https://alexrogna.com" %>
                </td>
            </tr>
            <% @social_icons.each do |social_icon| %>
                
                <% if social_icon.show_on_cv %>
                    <tr>
                        <td>
                            <%= link_to social_icon.link do %>
                                <i class='<%= social_icon.icon %>' ></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to social_icon.link do %>
                                <%= links(social_icon.link) %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                
            <% end %>
            
        </table>
        <hr> 
        <table class="main about">
            <tr>
                <td><h2>About</h2></td>

                <td>
                    <%= @user.long_description %>Because I cannot detail more about me and fit in the recommended two pages for a CV, you can find more about me on my portfolio webpage <a href="https://alexrogna.com">alexrogna.com</a>, on which you can also see some of my projects.
                </td>

            </tr>
        
            
        </table>
        <hr>
        <table class="main technical-skills">
            <tr>
                <td><h2>Technical Skills</h2></td>
                <td>
                    <table>
                        <% @skills.each do |skill| %>
                            <tr>
                                <td>
                                    <%= skill.name %>
                                </td>
                                <td>
                                    <div class="progress-bar p-<%= procent(skill) %>" style="--width: <%= procent(skill) %>%" data-label="<%= procent(skill) %>%&nbsp&nbsp&nbsp"></div>
                                    
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <small>These percentages are calculated based on things that I add on my CV website <a href="https://alexrogna.com">alexrogna.com</a>, like projects I work on, books I read and courses I attend.</small>
                    
                </td>
            </tr>
        </table>
        <hr>
        
        <table class="main personal-skills">
            <tr>
                <td><h2>Personal Skills</h2></td>

                <td>
                    <ul>
                        <% @personal_skills.each do |personal_skill| %>
                            <li><i class="<%= personal_skill.icon %>"></i> <b><%= personal_skill.skill %></b> - <%= personal_skill.description %></li><hr>
                        <% end %>
                    </ul>
                    
                </td>

            </tr>
            
        </table>
     

    </div>
    <div class="alwaysbreak">
        <table class="main language-skills">
            <tr>
                <td><h2>Language Skills</h2></td>
                <td>
                    <ul>
                        <% @language_skills.each do |language_skill| %>
                            <li><%= language_skill.language %> - 
                                <% if language_skill.is_native %>
                                    Native
                                <% else %>
                                    
                                    <% if language_skill.procent > 60 %>
                                        Advanced
                                    <% else %>
                                        Intermediate
                                    <% end %>
                                    
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                    
                </td>
            </tr>      
        </table>
        <hr> 
        <table class="main work-experience">
                <tr>
                    <td><h1>Work Experience</h1></td>
                    <td>
                        <table>
                            <% @works.each do |work| %>
                                <tr>
                                    <td colspan="2"><h2><%= work.company %></h2></td>
                                </tr>
                                <tr>
                                    <td><i><%= work.position %></i></td>
                                    <td>
                                    <%= verbose_date(work.start_date) %> - <%= work.present ? "Present" : verbose_date(work.end_date)%> </td> 
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <% if work.description? %>
                                            Description:
                                        <% else %>
                                            Key Responsibilities:
                                        <% end %>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="key-resp">
                                        <%= work.key_responsibilities %>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">Tools:
                                        <% for tech in work.teches.order('order_id ASC') %>
                                            <span class="tech-name"><%= tech.name %></span>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </table>
                    </td>
                </tr>
                
            </table>
            <hr>
        <table class="main education">
            <tr>
                <td><h1>Education</h1></td>
                <td>
                    <table>
                    <% @educations.each do |education| %>
                        
                        <% if education.show_on_cv %>
                            <tr>
                                <td>
                                    <h2><%= education.school %> - <i><%= education.location %></i></h2>
                                </td>
                                <td>
                                    <%= verbose_date(education.start_date) %> - <%= education.present ? "Present" : verbose_date(education.end_date) %> 
                                </td> 
                            </tr>
                            
                          
                            <% if education.specialization!="" %>
                                <tr>
                                    <td colspan="2">
                                        <%= education.specialization %>
                                    </td>
                                </tr>
                            <% end %>
                            <% if education.courses=="a" %>
                                <tr>
                                    <td colspan="2">
                                        <%= education.courses %>
                                    </td>
                                </tr>
                            <% end %>
                            <tr>
                                <td colspan="2">Tools:
                                    <% for tech in education.teches.order('order_id ASC') %>
                                        <span class="tech-name"><%= tech.name %></span>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                    </table>
                </td>
            </tr>
            
        </table>
    </div>
</div>