<div class="row">
    <div class="column large-3 tab-12">
        <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image.variant(resize_to_limit: local_assigns.fetch(:profile_image_options, [200, 200])), class:"pic" %>
        <% end %>
    </div>
    <div class="column large-9 tab-12">
        <h3>About Me</h3>
        <p>
        <%= user.long_description %>
        </p>

        <hr>

        <div class="row content-bottom">
            <div class="column w-1000-stack">
                <h3>Contact Details</h3>

                <p>
                <%= user.name %> <br>
                <%= user.street_number %> <%= user.street_name %> <br>
                <%= user.city %>, <%= user.post_code %> <br>
                <a href="tel:<%= user.phone %>" title="Call me"><%= user.phone %></a> <br>
                <a class="mailtoui" href="mailto:<%= user.email %>" title="Email me"><%= user.email %></a>
                </p>
                <% if current_user %>
                    <p><%= link_to "settings", settings_user_path %></p>
                <% end %>
            </div>
            <div class="column w-1000-stack">
                <%= link_to cv_path(format: :pdf), method: :get, target: :_blank, class:"btn btn--about h-full-width", title: "Download my CV" do %>
                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:"><path d="M12 16L16 11 13 11 13 4 11 4 11 11 8 11z"></path><path d="M20,18H4v-7H2v7c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2v-7h-2V18z"></path></svg>
                    Download CV
                <% end %>
                    
                <%= link_to  '#', onclick: "document.querySelector('#notify_friend').style.display='block';return false;", class:"btn btn--about h-full-width", title: "Send an email with my CV to a friend" do %>
                <svg version="1.1" id="Capa_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,132.129c-68.302,0-123.871,55.569-123.871,123.871S187.698,379.871,256,379.871
                c43.574,0,81.937-22.635,104.024-56.744c16.151,14.722,37.614,23.712,61.138,23.712C471.25,346.839,512,306.088,512,256
                C512,114.842,397.16,0,256,0S0,114.842,0,256s114.84,256,256,256c68.38,0,132.667-26.629,181.02-74.98l-35.036-35.036
                C362.99,440.977,311.146,462.452,256,462.452c-113.837,0-206.452-92.614-206.452-206.452S142.163,49.548,256,49.548
                S462.452,142.163,462.452,256c0,22.767-18.523,41.29-41.29,41.29c-22.767,0-41.29-18.523-41.29-41.289V256
                C379.871,187.698,324.302,132.129,256,132.129z M256,330.323c-40.983,0-74.323-33.341-74.323-74.323
                c0-40.982,33.339-74.323,74.323-74.323s74.323,33.341,74.323,74.323C330.323,296.981,296.983,330.323,256,330.323z"/></svg> Email a friend
                <% end %>
                
                <div id="notify_friend" style="display:none;">
                    <%= render 'settings/users/notify_friend'%>
                </div>
            </div>
        </div>
    </div>
</div>
