<h1><i class="fas fa-envelope fa-2x"></i> Don’t hesitate to contact me!</h1>
<%= render 'contact_forms/form', contact_form: contact_form %></p>
<h2>Address and phone</h2>
<p>Name: <%= user.name %></p>
<p>Street Number: <%= user.street_number %></p>
<p>Street Name: <%= user.street_name %></p>
<p>City: <%= user.city %></p>
<p>Postcode: <%= user.post_code %></p>
<p>Phone: <%= user.phone %></p>
<p>Email: <%= user.email %></p>