<div class="row s-header__nav-wrap">
    <nav class="s-header__nav">
        <ul>
            
            <% if controller_path =="home" %>
                <li class="current"><a class="smoothscroll" href="#hero">Home</a></li>
                <li><a class="smoothscroll" href="#about">About</a></li>
                <li><a class="smoothscroll" href="#portfolio">Portfolio</a></li>
                <li><a class="smoothscroll" href="#skills">Skills</a></li>
                <li><a class="smoothscroll" href="#language_skills">Language Skills</a></li>
                <li><a class="smoothscroll" href="#personal_skills">Personal Skills</a></li>
                <li><a class="smoothscroll" href="#work">Work</a></li>
                <li><a class="smoothscroll" href="#education">Education</a></li>
                <li><a class="smoothscroll" href="#contact">Contact</a></li>
                <% if current_user %>
                    <li class="admin-controls">
                        <%= link_to settings_user_path, title: "Change Settings" do %> 
                            <i class="fal fa-cog" aria-hidden="true"></i>
                        <% end %>
                    </li>
                    <li class="admin-controls">
                        <%= link_to contact_forms_path, title: "Contact Forms" do %> 
                            <i class="fal fa-file-contract" aria-hidden="true"></i>
                        <% end %>
                    </li>
                    <li class="admin-controls">
                        <%= link_to destroy_user_session_path, title: "Log out", method: :delete do%>
                            <i class="fal fa-sign-out-alt" aria-hidden="true"></i> 
                        <% end %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to new_user_session_path, title: "Log in" do%>
                            <i class="fal fa-sign-in-alt" aria-hidden="true"></i> 
                        <% end %>
                    </li>
                <% end %>
                <% else %>
                <li><%= link_to "Home", root_path %></li>
                <% if current_user %>
                    <li class="admin-controls">
                        <%= link_to settings_user_path, title: "Change Settings" do %> 
                            <i class="fal fa-cog" aria-hidden="true"></i>
                        <% end %>
                    </li>
                    <li class="admin-controls">
                        <%= link_to contact_forms_path, title: "Contact Forms" do %> 
                            <i class="fal fa-file-contract" aria-hidden="true"></i>
                        <% end %>
                    </li>
                    <li class="admin-controls">
                        <%= link_to destroy_user_session_path, title: "Log out", method: :delete do%>
                            <i class="fal fa-sign-out-alt" aria-hidden="true"></i> 
                        <% end %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to new_user_session_path, title: "Log in" do%>
                            <i class="fal fa-sign-in-alt" aria-hidden="true"></i> 
                        <% end %>
                    </li>
                <% end %>
            <% end %>
            
           
            
        </ul>
    </nav>
</div>
<a class="s-header__menu-toggle" href="#0" title="Menu">
    <span class="s-header__menu-icon"></span>
</a>
