<p><%= render 'navbar' %></p>

<p><%= render 'hero', social_icons: @social_icons, user: @user %></p>
<hr>
<p><%= render 'about', user: @user %></p>
<hr>
<p><%= render 'projects', projects: @projects %></p>
<hr>

<% if current_user %>
    <p><%= link_to "log out", destroy_user_session_path, method: :delete %></p>
    <p><%= link_to "settings", settings_user_path %></p>
<% else %>
    <p><%= link_to "log in", new_user_session_path %></p>
<% end %>