
<div id="preloader">
  <div id="loader"></div>
</div>

<section id="hero" class="s-hero target-section">
  <%= render 'hero', social_icons: @social_icons, user: @user %>
</section>
<main>
  <section id="about" class="s-about target-section">
    <%= render 'about', user: @user %>
  </section>
  <section id="portfolio" class="s-portfolio target-section">
    <%= render 'projects/index', projects: @projects %>
  </section>
  
  <section id="skills" class="s-skills target-section">
    <%= render 'skills/index' %>
  </section>
  
  <section id="language_skills" class="s-language_skills target-section">
    <%= render 'language_skills/index' %>
  </section>
  
  <section id="work" class="s-work target-section">
    <%= render 'works/index' %>
  </section>
  
  <section id="education" class="s-education target-section">
    <%= render 'educations/index' %>
  </section>
  
  <section id="contact" class="s-contact target-section">
    <%= render 'contact', contact_form: @contact_form, user: @user %>
  </section>
</main>
<footer class="s-footer">
  <%= render 'footer', social_icons: @social_icons %>
</footer>