<%= form_with(model: tag) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label "Related to" %>
    <%= form.collection_check_boxes(:skill_ids, Skill.all.order('name ASC'), :id, :name) do |b| %>
      <% b.label {b.check_box + b.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit disabled: !is_admin(current_user) %>
  </div>
<% end %>
