<div class="row s-resume__section">
  <div class="column large-12 tab-12">
    <div class="row s-portfolio__header">
        <div class="column large-12">
            <h3>Language Skills</h3>
        </div>
    </div>

    <table>

      <tbody>
        <% @language_skills.each do |language_skill| %>
          <tr>
            <td><%= language_skill.language %></td>
            <td>
              <% if language_skill.is_native %>
                Native language
              <% else %>
                <%= link_to language_skill.certificate_url, target: :_blank do %> 
                  View <%= language_skill.certificate_name %>
                <%end %>
              <%end %>
            </td>
            
            
          </tr>
          <tr>
            <td colspan="2"><div class="progress-bar h-full-width" style="--width: <%= language_skill.procent %>" data-label="<%= language_skill.procent %>%"></div>
            <div>
              <% if current_user %>
                  <%= link_to edit_language_skill_path(language_skill) do %>
                      <i class="fas fa-pen fa-xs" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to language_skill, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fas fa-times-circle fa-xs" style="color:red"></i>
                  <% end %>
              <% end %>
            </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <% if current_user %>
    <%= link_to new_language_skill_path do %><i class="fas fa-plus fa-lg" ></i><% end %>
  <% end %>
</div>

