<header class="row">
    <div class="column large-12">
        <h3 class="section-header-allcaps">Language Skills</h3>
    </div>
</header>

<main class="row">
  <div class="language_skills large-12">
    <% @language_skills.each do |language_skill| %>
      <div class="row">
        <div class="column large-3 mob-4">
          <p class="controls">
            <%= language_skill.language %>
            <% if current_user %>
              
                <%= link_to edit_language_skill_path(language_skill), title: "Edit" do %>
                    <i class="fal fa-pen" aria-hidden="true"></i>
                <% end %>
                <% if is_admin(current_user) %>
                  <%= link_to language_skill, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                      <i class="fal fa-trash-alt red" ></i>
                  <% end %>
                <% else %>
                  <a onClick="alert('You are not an admin!')" title="Delete"><i class="fal fa-trash-alt red"></i></a>
                <% end %>
            <% end %>
          </p>
        </div>
        <div class="column large-8 mob-8">
          <% if language_skill.is_native %>
            <p>Native language</p>
          <% elsif language_skill.certificate_url != "" %>
            <p>
              <%= link_to language_skill.certificate_url, target: :_blank, title: "View online" do %> 
                View <%= language_skill.certificate_name %>
              <%end %>
            </p>
          <%end %>
        </div>
        <div class="column large-1">
         
        </div>
      </div>
      <div class="row">
        <div class="progress-bar large-12" style="--width: <%= language_skill.procent %>" data-label="<%= language_skill.procent %>%" title="<%= language_skill.procent %>%"></div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% if current_user %>
      <%= link_to new_language_skill_path, title: "Add new" do %><i class="fal fa-plus-circle fa-lg" ></i><% end %>
    <% end %>
  </div>
</main>

<footer class="row"></footer>