<p id="notice"><%= notice %></p>

<h1>Works</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Present</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.company %></td>
        <td><%= work.position %></td>
        <td><%= work.start_date %></td>
        <td><%= work.end_date %></td>
        <td><%= work.present %></td>
        <td> 
            <% for tech in work.teches.order('order_id ASC') %>
                <% if tech.logo.attached? %>
                  <%= image_tag tech.logo.variant(resize_to_limit: local_assigns.fetch(:logo_options, [200, 200])) %>
                <% end %>
                <%= tech.name %>
                <%= tech.order_id %>
            <% end %>
        </td>
        <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
