<div class="row s-resume__section">
  <div class="column large-12 tab-12">
    <div class="row s-portfolio__header">
        <div class="column large-12">
            <h3>Works</h3>
        </div>
    </div>
    <% @works.each do |work| %>
      <div class="resume-block">

          <div class="resume-block__header">
              <h4 class="h3"><%= work.company %></h4>
              <p class="resume-block__header-meta">
                  <span><%= work.position %></span> 
                  <span class="resume-block__header-date">
                      <%= work.start_date %> - <%= work.present ? "Present" : work.end_date%>
                  </span>
              </p>
          </div>

          <p>
          <% for tech in work.teches.order('order_id ASC') %>
              <% if tech.logo.attached? %>
                <%= image_tag tech.logo.variant(resize_to_limit: local_assigns.fetch(:logo_options, [200, 200])) %>
              <% end %>
              <%= tech.name %>
              <%= tech.order_id %>
          <% end %>
          </p>
          <p><%= link_to 'Edit', edit_work_path(work) %></p>
          <p><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div> 
    <% end %> 

<%= link_to 'New Work', new_work_path %>
