<div class="nested-fields">
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :logo %>
        <%= f.file_field :logo %>
        <%= link_to_remove_association "Remove Tech", f %>
    </div>
</div>